<form #f="ngForm" (ngSubmit)="submit(f.value)">
  <div class="form-group row">
    <label for="courseName" class="col-2 col-form-label">Course Name</label>
    <div class="col-10">
      <input 
        required 
        minlength="5"
        ngModel
        name="courseName"
        #courseName="ngModel"
        id="courseName" 
        type="text"
        class="form-control"
      >
      <div 
        class="alert alert-danger"
        *ngIf="!courseName.valid && courseName.touched">
        <div *ngIf="courseName.errors.required">Course name is required</div>
        <div *ngIf="courseName.errors.minlength">Minimum length should be {{courseName.errors.minlength.requiredLength}}</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="" class="col-2 col-form-label">Category</label>
    <div class="col-10">
      <select required ngModel name="category" #category="ngModel" id="category" class="form-control custom-select">
        <option value="">Please select</option>
        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="category.invalid && category.touched">Categoryis required</div>
    </div>
  </div>
  <div class="form-group row form-check">
    <label class="form-check-label">
      <input 
        ngModel 
        name="moneyBackGuarantee" 
        #moneyBackGuarantee="ngModel" 
        type="checkbox" 
        class="form-check-input">30-day money-back guarantee
    </label>
  </div>
  <p>{{f.value | json}}</p>
  <button class="btn-primary btn" [disabled]="!f.valid">Create</button>
</form>
